<!--<!doctype html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <title>authors</title>-->
<!--</head>-->
<!--<body>-->
<%#@authors.each do |author| %>
<!--<h3><%#=link_to("#{author.name},#{author.surname}",author_path(id: author.id))%></h3>-->
<%# end %>

<!--</body>-->
<!--</html>-->