<!--<!doctype html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <title>newAuthor</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Adding new author</h1>-->
<!--<h2>please, enter the following information</h2>-->

<!--<form method="post" action="/authors">-->
<!--  <label>name</label>-->
<!--  <input type="text" name="author[name]">-->
<!--  <label>surname</label>-->
<!--  <input type="text" name="author[surname]">-->
<!--  <label>style</label>-->
<!--  <input type="text" name="author[style]">-->
<!--  <button type="submit">submit</button>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->